In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
df = pd.read_csv("weather_linear_regression_10000.csv")

In [22]:
# Separate features and target
X = df.drop(columns=["temperature_c"])
y = df["temperature_c"]

In [23]:
num_cols = X.select_dtypes(include=["int64", "float64"]).columns
cat_cols = X.select_dtypes(include=["object"]).columns

C:\Users\negovin\AppData\Local\Temp\ipykernel_29296\1466136640.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  cat_cols = X.select_dtypes(include=["object"]).columns

In [24]:
df.info()
df.isnull().sum()
df.duplicated().sum()
df.describe()
# df.skew(numeric_only=True)
# df[target].value_counts()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 10000 non-null  str
 1   humidity_percent     10000 non-null  float64
 2   pressure_hpa         10000 non-null  float64
 3   wind_speed_kmph      10000 non-null  float64
 4   cloud_cover_percent  10000 non-null  float64
 5   rainfall_mm          10000 non-null  float64
 6   sunshine_hours       10000 non-null  float64
 7   temperature_c        10000 non-null  float64
dtypes: float64(7), str(1)
memory usage: 625.1 KB

,humidity_percent,pressure_hpa,wind_speed_kmph,cloud_cover_percent,rainfall_mm,sunshine_hours,temperature_c
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,59.532765,1015.317091,20.002016,49.871338,24.843190,6.037735,57.919811
std,23.010410,20.250619,11.470950,28.899459,14.464209,3.460095,7.200946
min,20.000931,980.011042,0.001925,0.000554,0.000837,0.000101,34.300000
25%,39.706310,997.776206,10.149916,24.685725,12.213611,3.083478,52.900000
50%,59.402289,1015.412774,20.082724,50.003024,24.685860,6.073085,57.870000
75%,79.200508,1032.953545,29.786954,74.711625,37.523852,9.041352,62.950000
max,99.977414,1049.994738,39.996039,99.978937,49.998607,11.999276,82.230000

In [25]:
X = X.drop(columns=['date'])  # or the actual date column name

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
# scaler=StandardScaler
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [27]:


from sklearn.metrics import r2_score
print("R2 Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
# print("RMSE:")

R2 Score: 0.9576473695972922
MAE: 1.1816491835689695
MSE: 2.210319414704797

In [32]:
import pandas as pd


# Example input data (single row)
single_input = {
    "humidity_percent": [49.96],
    "pressure_hpa": [1006.15],
    "wind_speed_kmph": [29.19],
    "cloud_cover_percent": [63.81],
    "rainfall_mm": [14.94],
    "sunshine_hours": [10.16],
    "temperature_c": [63.4]  # actual value
}

# Convert to DataFrame
input_df = pd.DataFrame(single_input)

# Separate features and actual target
X_test = input_df.drop("temperature_c", axis=1)
y_actual = input_df["temperature_c"]

# Predict using the trained model
y_pred = model.predict(X_test)

# Display actual vs predicted
for actual, pred in zip(y_actual, y_pred):
    print(f"Actual Temperature: {actual:.2f} 째C | Predicted Temperature: {pred:.2f} 째C")

Actual Temperature: 63.40 째C | Predicted Temperature: 62.60 째C

In [33]:
#ADD COEFFICIENT AND SCALER

print("Model Coefficients:", model.coef_)
print("Model Intercept:", model.intercept_)

Model Coefficients: [-0.15014573  0.0386729  -0.10097224 -0.12017147 -0.24994419  0.9032293 ]
Model Intercept: 36.367316717391674